/*RESET, from YUI CSS Reset 3.3.0*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

/*TYPOGRAPHY*/
html {
	font-size: 10px;
}

body {
	color: #333333;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	font-size: 1.8em;
	font-family: 'EB Garamond', Times New Roman, Times, serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
}

.article-body p {
	text-indent: 0;
}

.article-body p + p {
	text-indent: 2em;
	text-align: left;
}
h1,
h1 a,
h1 a:visited,
h1 a:hover {
/*
	font-family:'Philosopher', sans-serif;
*/
	color:black;
	font-weight:700;
	font-size:1.25em;
	text-decoration:none;
}

h2 {
	font-size: 1.4em;
	font-weight:600;
	line-height: 1.2em;
	margin-bottom:.25em;
}

h3 {
	font-size: 2.2em;
}

/*
.article-body p:first-child:first-letter{
font-size:30px;
}
*/

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

/* http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/ */
abbr {
	letter-spacing: 0.1em;
}

footer p {
	font-size:.8em;
	color:#555555;
}
footer p+p {
	margin-top:10px;
	}

/* LINKS */
	
a[href$=".pdf"] {
    background: url("../img/pdf.gif") no-repeat scroll left center transparent;
    display: inline-block;
    line-height: 18px;
    padding-left: 28px;
}

/*LAYOUT*/
html,
body {
	height: 100%;
}

body {
	background: url(../img/2.jpg) fixed #DDDDD6;
	color: black;
	min-width: 350px;
/*
	margin: -24px;
*/
}

#page {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	max-width: 980px;
	margin: 48px auto;
	border: 2px solid #E5E5E5;
	padding: 0 0 24px 0;
}

#content {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.0);
	margin: 24px auto;
	max-width:800px;
}
article {
	max-width: 33em;
	margin:auto;
}

article,
header,
footer,
section,
nav {
	display: block;
}

header {
	background-color:#E5E5E5;
	margin:0 0 48px 0;
	padding:24px 24px 24px 24px;
	border-bottom: 2px solid #DDDDDD;
}

#logo {
	float:left;
	width:200px;
}
#header-nav {
	list-style: none outside none;
	margin: 0 0 0 225px;
	text-align:left;
}
/*
#header-nav ul {
	padding:200px 0 0 0;
	}
*/
#header-nav ul,
#header-nav li {
	display:inline;
	line-height:1.5em;
}
#header-nav a {
	padding-right:25px;
	text-decoration:none;
}

footer {
	clear:both;
	max-width:800px;
	margin:auto;
	border-top:2px solid #E5E5E5;
	margin-top:48px;
	padding: 12px 24px 0 24px;
}

/* HOMEPAGE */

#bio {
float:left;
max-width:440px;
margin:0 30px 24px 0;
}
#bio p {
margin-bottom:10px;
}
#info {
clear:right;
float:right;
margin: 0 0 24px 30px;
width:300px;
}
#bio-summary {
	font-size:1.25em;
	font-weight:600;
	line-height:1.2em;
	margin-bottom:12px;
}
#info h3 {
	font-size:1.25em;
	font-weight:600;
	line-height:1.2em;
}
#info ul+h3 {
margin-top:12px;
}
.email {
    background: url("../img/email-small.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.phone {
    background: url("../img/phone.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.mail {
    background: url("../img/mail.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
addr p {
    padding-left:24px;
}
addr p:first-child {
    margin-top:-28px;
}
.chat {
    background: url("../img/chat.gif") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.calendar {
    background: url("../img/calendar.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.vcard {
    background: url("../img/vcard.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.religion {
    background: url("../img/religion.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.twitter {
    background: url("../img/twitter-2.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.librarything {
    background: url("../img/librarything.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.zotero {
    background: url("../img/zotero.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.linkedin {
    background: url("../img/linkedin.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.facebook {
    background: url("../img/facebook.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.googlereader {
    background: url("../img/googlereader.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.delicious {
    background: url("../img/delicious.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.github {
    background: url("../img/github.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.gowalla {
    background: url("../img/gowalla-2.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.skype {
    background: url("../img/skype.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.academiaedu {
    background: url("../img/academiaedu.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.googleplus {
    background: url("../img/googleplus.png") no-repeat scroll left center transparent;
    padding: 4px 0 4px 24px;
    white-space: nowrap;
}
.rss-big {
    background: url("../img/rss-big.png") no-repeat scroll left center transparent;
    padding: 32px 0 32px 36px;
    white-space: nowrap;
}
.email-big {
    background: url("../img/email-big.png") no-repeat scroll left center transparent;
    padding: 32px 0 32px 36px;
    white-space: nowrap;
}
.rss-small {
    background: url("../img/rss-small.png") no-repeat scroll left center transparent;
    padding: 10px 10px 10px 20px;
    white-space: nowrap;
}
.email-small {
    background: url("../img/email-small.png") no-repeat scroll left center transparent;
    padding: 10px 10px 10px 20px;
    white-space: nowrap;
}


/* IMAGES */
.alignleft {
	float:left;
	margin: 0 12px 0 0;
}


/*===============*/
/* Homepage */

/*.home #content h1 {
    display:none;
}*/

