<section>
<h1>Contact Me</h1>

	<ul>
		<li class="mail">
		<a href="mailto:lincoln@lincolnmullen.com">lincoln@lincolnmullen.com</a>
		</li>
		<li class="phone">
		<a href="tel:+1-781-330-0171">781-330-0171</a> (Google Voice)
		</li>
		<li class="chat">
		<a href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqrs268r62eq5hecduhogjid3j5oehibmk1bijtrje0ehkl959jgj50c8104rqk1ov6jnorgvaijtuhogkg6mooeardbiso6d88vu23asr0sh7b6j1hmondbdqipt7cuknnr8geb6vfns625k2rj6fjg7e0qm1752t5r8dtnpn0bva52l21mdpvubtng" target="_blank" title="Click here to chat with Lincoln Mullen">Google Talk</a> <img style="padding: 0pt 2px 0pt 0pt; margin: 0pt; border: medium none;" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqrs268r62eq5hecduhogjid3j5oehibmk1bijtrje0ehkl959jgj50c8104rqk1ov6jnorgvaijtuhogkg6mooeardbiso6d88vu23asr0sh7b6j1hmondbdqipt7cuknnr8geb6vfns625k2rj6fjg7e0qm1752t5r8dtnpn0bva52l21mdpvubtng&amp;w=9&amp;h=9" alt="" height="9" width="9">
		<li class="vcard">
		<a href="{{ site.base-url }}/docs/Mullen.vcf">Download v-card</a>
		</li>
		<li class="calendar">
		<a href="https://www.google.com/calendar/b/0/embed?src=lincoln@lincolnmullen.com&ctz=America/New_York&gsessionid=OK">When am I available?</a>
		</li>
	</ul>
