<section>
<h1>Elsewhere</h1>
<ul>
	<li> <a rel="me" class="twitter" href="http://twitter.com/lincolnmullen">Twitter</a> (@lincolnmullen) </li>
	<li> <a rel="me" class="github" href="https://github.com/lmullen">GitHub</a> </li>
	<li> <a rel="me" class="skype" href="http://skype.com">Skype</a> (lincoln.mullen) </li>
	<li> <a rel="me" class="librarything" href="http://www.librarything.com/profile/lmullen">LibraryThing</a> </li>
	<li> <a rel="me" class="zotero" href="http://www.zotero.org/lmullen">Zotero</a> </li>
</ul>
</section>
