// Your custom SCSS should be written here...


// Links
p a:link {
  text-decoration: none;
  border-bottom: 1px dotted $body-link-color; 
}

#researching p a:link {
  text-decoration: none;
  border-bottom: none;
}

// Header and headings
body {
  padding-top: 2rem;
}

#header {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  a {
    color: darken($body-link-color, 20);
  }
}

#main-navigation {
  padding-top: 8px;
  text-align: right;
  li {
    display: inline;
    padding-left: 2rem;
  }
}

#researching h5 {
  font-weight: bold;
  font-size: 1rem;
  a {
    // color: $header-font-color;
  }
}

#researching h4,
#blogging h4,
#writing h4,
#teaching h4,
#publishing h4,
#coding h4 {
  margin-top: -6px;
}

.below-the-fold {
  font-weight: bold;
  a:link {
    border-bottom: 0 !important;
  }
}

.noline a:link {
  border-bottom: 0 !important;
}

#blog-archives time {
  color: lighten($body-font-color, 40);
}

// Footer

footer {
  min-height: 60px;
  // width: 100%;
  // background-color: #fafafa;
  margin-top: 2em;
  .row {
    border-top: 1px solid #eee;
    padding-top: 1em;
  }
  p {
    text-align: center;
    color: #555;
  }
}

// Horizontal rules
hr {
  border-style: dotted;
  border-width: 1px;
}

// Code
pre {
  // border: 3px solid #111;
  border-left: 30px solid #111;
  // padding: 0 .4em;
  // margin-bottom: 13px !important;
  // overflow: auto;
  // font-size: 0.8rem;
  // line-height: 1.25rem;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2em;
  padding: .8em 1em;
  overflow: auto;
}

code {
  border: 1px solid #ddd;
  // background-color: #eef;
  padding: 0 .2em;
  font-family: $monospace-font;
}

pre code {
  border: none;
  font-weight: bold !important;
}

p {
  code {
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    border-radius: .4em;
    background-color: #fcfcfc;
    a:link {
      border-bottom: none;
    }
  }
}

// Superscripts and subscripts
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }

.footnotes li,
.footnotes p {
  font-size: 0.85rem;
}

// Icons

.twitter {
  background-image: url("../images/spriteme1.png");
  background-position: -10px -8.5px;
  background-repeat: no-repeat;
  padding-left: 24px;
  white-space: nowrap;
}

.librarything {
  background-image: url("../images/spriteme1.png");
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: -10px -80.5px;
  white-space: nowrap;
}

.profhacker {
  background-image: url("../images/spriteme1.png");
  background-position: -10px -152.5px;
  padding-left: 24px;
  background-repeat: no-repeat;
  white-space: nowrap;
}

.rinah {
  background-image: url("../images/spriteme1.png");
  padding-left: 24px;
  white-space: nowrap;
  background-position: -10px -116.5px;
  background-repeat: no-repeat;
}

.github {
  background-image: url("../images/spriteme1.png");
  padding-left: 24px;
  white-space: nowrap;
  background-position: -10px -44.5px;
  background-repeat: no-repeat;
}

.subscribe-feed {
  background-image: url("../images/spriteme1.png");
  padding-left: 24px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: -10px -188.5px;
}

.subscribe-email {
  background-image: url("../images/spriteme1.png");
  padding-left: 24px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: -10px -224.5px;
}

// Post images

img {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 2px 6px;
  -moz-box-shadow: rgba(0,0,0,0.15) 0 2px 6px;
  -ms-box-shadow: rgba(0,0,0,0.15) 0 2px 6px;
  -o-box-shadow: rgba(0,0,0,0.15) 0 2px 6px;
  box-shadow: rgba(0,0,0,0.15) 0 2px 6px;
  border: #fff 0.5em solid;
  box-sizing: border-box;
}

.center {
  margin: 0 auto 1.5em;
  display: block;
}

.left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

// Blockquote

blockquote p {
  color: $body-font-color;
  line-height: $base-line-height;
}