html, body, h1, h2, h3, h4, h5, h6, p .tooltip, .popover {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

p, .sidebar, ol, ul, dl {
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.02em;
  margin-bottom: 1.0em;
}

.thumbnail p {
  margin-bottom: 0;
  line-height: 1.4em;
}

#blog-archives p {
  margin-bottom: 1.25em;
}

.sidebar a,
.post-title>a {
  color: black;
}

.sidebar a:hover, 
.post-title>a:hover {
  color: #ac4142;
  text-decoration: none;
}

/* Collapse the sidebar navigation on small screens */
@media screen and (max-width: 992px) { 
  .container {
    padding: 5px 10px;
  }
  .sidebar-nav {
    display: inline-block!important;
    list-style: none;
  }
  .sidebar-nav>li {
    padding: 0;
    display: inline-block!important;
  }
  .sidebar-nav>li>a::after {
    content: "/";
    padding: 0 10px;
  }
  .sidebar-nav>li:last-child>a::after {
    content: none;
  }
}

.nav>li {
  margin-bottom: 1rem;
}
.nav>li>a {
  display: inline;
  padding: 5px 0px;
}
.nav>li>a:hover,
.nav>li>a:focus {
  background:none;
}

#site-title {
  font-stretch: extra-condensed;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.bs-docs-sidebar.affix {
  position: static;
}


/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  /* .bs-docs-sidebar .nav > .active > ul { */
  /*   display: block; */
  /* } */
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 263px;
  }
}


.post p img, figure img, .post iframe {
  max-width: 100%;
}

#projects-front-page img {
  max-width: 100%;
  border: 1px solid gray;
  margin-bottom: 3rem;
}

figure {
  display: block;
  margin: 4rem 0rem;
  padding: 0;
  /* font-size: .8rem */
  line-height: 1.4;
}

figure img, iframe {
  margin: auto;
  /* border: 1px solid #ccc; */
  border: none;
  display: block;
}

figure figcaption {
  padding: 0;
  font-size: 100%;
  color: inherit;
  font-style: italic;
  margin: .1rem auto;
  text-align: center;
  max-width: 80%;
}

figure figcaption em {
  font-style: normal;
}

.rightfig {
  float:right;
  max-width: 50%;
  margin: 0 0 0 1rem;
  padding: 0;
}

.rightfig figure {
  max-width: 100%;
  margin: 0 0 1rem 0;
}

/* Tab like spacing for blog archive */
#blog-archives time {
  display: inline-block;
  width: 8rem;
  /* IE7 */
  *display: inline;
  zoom: 1;
  /* IE7 */
}

/* Standalone posts */
.post-metadata {
  margin-bottom: 3rem;
}

.post-metadata a {
  color: #999;
}

.post-metadata a:hover {
  color: #ac4142;
}

/* Blog index */
.post-meta time {
  color: #999;
  font-size: 14px;
}
.post-meta h3 {
  margin-top: 0;
  font-weight: bold;
}
h3.link-post {
  font-size: 18px;
}
.post-after {
  margin-top: 3rem;
}
.post-after a {
  background-color: #f5f5f5;
  padding: 1rem;
  font-weight: bold;
}
.post-separator {
  color: #f5f5f5;
  width: 33.3%;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.pagination {
  width: 100%;
  text-align: center;
}
.page_number {
  margin-left: 50px;
  margin-right: 50px;
}

#blog {
  margin-top: 4rem;
}
/* pandoc.org/demo/example18a.html */
pre {
  background-color: #f8f8f8!important;
  border: none!important;
  color: #666!important;
  margin-bottom: 1.6em;
}
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */

