---
layout: page
title: Writing
---


<div class="writing-section" id="academic-publications">
	<h3>Academic Publications</h3>

	<p class="introduction">Publications which are available in full text are listed here. For a complete listing, see my <a href="{{ site.base-url }}/docs/Mullen-cv.pdf">CV</a>.</p>
	<dl class="writing-list">
	<dt>2011</dt><dd>Review of <em>The Gardiners of Massachusetts: Provincial Ambition and the British-American Career</em>, by T. A. Milford, <em>Historical Journal of Massachusetts</em> 39, nos. 1&ndash;2 (summer 2011), 265&ndash;66. <a href="{{ site.base-url }}/docs/reviewgardiners.pdf">PDF</a></dd>
	<dt>2011</dt><dd>Review of <em>Daily Lives of Civilians in Wartime Early America: From the Colonial Era to the Civil War</em>, edited by David S. Heidler and Jeanne T. Heidler, <em>Army History</em> 78 (winter 2011), 44&ndash;45. <a href="{{ site.base-url }}docs/reviewdailylives.pdf">PDF</a></dd>
	<dt>2010</dt><dd>&#147;Confessionalization and the Creedal Tradition,&#148; <em>The Proceedings of the South Carolina Historical Association</em> (March 2010): 79-90. <a href="{{ site.base-url }}/docs/confessionalization.pdf">PDF</a></dd>
	<dt>2009</dt><dd>Review of <em>In the Beginning: Fundamentalism, the Scopes Trial, and the Making of the Anti-evolution Movement</em>, by Michael Lienesch, <em>The Southern Historian</em> 30 (spring 2009), 103&ndash;5. <a href="{{ site.base-url }}/docs/reviewinthebeginning.pdf">PDF</a></dd>
	</dl>
	
</div>

<div class="writing-section" id="newspapers">
	<h3>Newspaper Articles</h3>
	<dl class="writing-list">
		<dt>3 Dec 2010</dt><dd><a href="http://thebrandeishoot.com/articles/9255">Faith-based Tolerance</a>, <em>The Brandeis Hoot</em>. <a href="{{ site.base-url }}/docs/faithbasedtolerance.pdf">PDF</a></dd>
	</dl>
</div> <!-- #reviews -->


<div class="writing-section" id="essays">
	<h3>Essays</h3>
	<p class="introduction">
		These essays were originally published at various blogs and are now collected here.
	</p>
	<dl class="writing-list">
		{% for post in site.categories.essays %}
		<dt>{{ post.date | date_to_string }}</dt>
		<dd><a href="{{ site.base-url }}{{ post.url }}">{{ post.title }}</a></dd>
		{% endfor %}
	</dl>
</div> <!-- #essays -->

<div class="writing-section" id="reviews">
	<h3>Reviews</h3>
	<p class="introduction">
		These reviews were originally published at various blogs and are now collected here.
	</p>
	<dl class="writing-list">
		{% for post in site.categories.reviews%}
		<dt>{{ post.date | date_to_string }}</dt>
		<dd><a href="{{ site.base-url}}{{ post.url }}">{{ post.title }}</a></dd>
		{% endfor %}
	</dl>
</div> <!-- #reviews -->


<div class="writing-section" id="profhacker">
	<h3>ProfHacker Posts</h3>
	<p class="introduction">
		These posts were published at <a href="http://chronicle.com/blogs/profhacker/">ProfHacker</a>, a blog at the <em>Chronicle of Higher Education</em> about &#147;pedagogy, productivity, and technology in higher education.&#148; All but my earliest posts are also <a href="http://chronicle.com/blogs/profhacker/author/lmullen/">listed at ProfHacker</a>.
	</p>
	<dl class="writing-list">
		<dt>12 Aug 2011</dt><dd><a href="http://chronicle.com/blogs/profhacker/markdown-the-syntax-you-probably-already-know/35295">Markdown: The Syntax You (Probably) Already Know</a></dd>
		<dt>3 Aug 2011</dt><dd><a href="http://chronicle.com/blogs/profhacker/using-docscanner-to-scan-on-the-go/35091">Using DocScanner to Scan on the Go</a></dd>
		<dt>13 Jul 2011</dt><dd><a href="http://chronicle.com/blogs/profhacker/the-sociology-of-academic-networks/34691">The Sociology of Academic Networks</a></dd>
		<dt>26 Jan 2010</dt><dd><a href="http://chronicle.com/blogs/profhacker/keeping-up-with-journals/22931">Keeping Up with Journals</a></dd>
	</dl>
</div><!-- #profhacker -->

