{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body class="no-sidebar">
  <nav role="navigation">{% include navigation.html %}</nav>
  {% comment %}<header role="banner">{% include header.html %}</header>{% endcomment %}
  <div id="main">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
