---
layout: default
---

<article class="post standalone">
  <h2 class="post-title">{{ page.title }}</h2>
  <p class="post-metadata">
    <time class="posttime" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date_to_string }}
    </time> 
    |
    <a class="permalink" title="Permalink" href="{{ page.url }}">∞</a>
  </p>

  {% if page.rinah %}
    <p><em>
        [This post originally appeared at the <a href="{{ page.rinah }}">Religion in American History</a> blog.]
    </em></p>
  {% endif %}

  {{ content }}

</article>

