---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-metadata">
    <time class="posttime" datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">
      {{ page.date | date_to_string }}
    </time> 
    |
    <a class="commentlink" href="{{ page.url }}#disqus_thread">Leave a comment</a> 
    |
    <a class="permalink" title="Permalink" href="{{ page.url }}">∞</a>
  </p>

  {% if page.rinah %}
    <p><em>
        [This post originally appeared at the <a href="{{ page.rinah }}">Religion in American History</a> blog.]
    </em></p>
  {% endif %}

  {{ content }}

</div>

