/* Body styles */
body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-container {
  max-width: 1000px;
}

footer.site-footer {
  font-size: 0.9rem;
  border-top: 1px solid $border-color;
  margin-top: $lm-gap * 2;
  padding-top: $lm-gap * 2;
  margin-bottom: $lm-gap * 4;
}

/* Typography */
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 2rem;
}

p+h2 {
  margin-top: 1.5rem;
}

strong {
  font-weight: $font-weight-semibold;
}

blockquote {
  margin-left: 2rem;
  font-size: 0.95rem;
}

a {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: none;
}

/* Base */
#site-header {
  margin-bottom: $lm-gap * 2;
  border-bottom: 1px solid $border-color;
}

a.site-title {
  font-weight: 500;
  text-decoration: none;
  font-size: $font-size-base;
  color: $body-color;
}

.nav-link {
  color: $primary;
}

/* Figures */
figcaption {
  font-style: italic;
  font-size: 1rem;
}

figcaption em {
  font-style: normal;
}

/* Homepage */
.list-icon {
  margin-right: 0.5rem;
}

// This lines up SVGs brought in via an <img> tag with the Bootstrap
// icons brought in via the <i> tag.
img.list-icon {
  margin-top: -0.2rem;
}

#site-header a,
#homepage-sidebar a {
  text-decoration: none;
}

.homepage-list .bi-rss-fill {
  color: var(--bs-link-color);
}

.homepage-header {
  font-weight: 500;
  font-size: var(--bs-body-font-size);
}

.border-none {
  border-width: 0;
}

.homepage-card .card-link {
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 768px) {
  .homepage-links {
    width: 30%;
    margin-left: 3rem;
  }
}

/* Teaching */
#syllabus-list td {
  padding-bottom: 0.75rem;
  vertical-align: top;
}

.semester {
  text-align: right;
  padding-right: 0.5rem;
  white-space: nowrap;
}

.syllabus h2,
.syllabus h3 {
  margin-top: 2rem;
}

.syllabus h2+h3 {
  margin-top: 0;
}

/* Blog */
.sidebar-nav {
  top: 5rem;
}

@media (max-width: 768px) {
  .sidebar-nav {
    border-left: none !important;
    padding: 1rem !important;
    margin: 0 0 2rem 0 !important;
    background-color: $gray-100;
    top: 0;
  }
}

.link-post-title a,
.cross-post-title a {
  text-decoration: none;
}

.link-post-date {
  color: inherit;
  text-decoration: none;
}

a.link-post-date:hover {
  color: inherit;
}

.sidebar-nav a {
  text-decoration: none;
}

.feed-icon {
  color: $primary;
}

a.permalink,
a.author-link {
  text-decoration: none;
  color: inherit;
}

.external-url {
  font-style: italic;
}

.external-url em {
  font-style: normal;
}

.external-url a {
  text-decoration: none;
}

.post-title {
  margin-top: -0.25rem;
}

.post-separator {
  margin: 5rem 10rem;
}

.blog-archive td {
  padding-bottom: 0.5rem;
  vertical-align: top;
}

footer.article-footer {
  font-size: 0.8rem;
  font-style: italic;
}

footer.article-footer a {
  text-decoration: none;
}

div.highlight {
  max-width: 100%;
}

div.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin-left: 1rem;
}

.prevnextlinks a {
  text-decoration: none;
}

#TableOfContents ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#TableOfContents ul li,
#TableOfContents ul li {
  margin-bottom: 0.5rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#TableOfContents ul li ul {
  margin-top: 0.5rem;
}

#TableOfContents ul li ul li:last-child {
  margin-bottom: 0;
}

a.footnote-ref,
a.footnote-backref {
  text-decoration: none;
}

// Automatic figure numbering
article {
  counter-reset: figures;
}

figure {
  counter-increment: figures;
}

figcaption p:before {
  content: "Figure " counter(figures) ". ";
  font-weight: 500;
}

.footnotes {
  font-size: 0.85rem;
  margin-top: 3rem;
}

.footnotes hr {
  display: none;
}

.post-body hr {
  border: none;
  margin: 2rem 0;
  color: black;
  opacity: 0.8;
}

.post-body hr::before {
  content: "***";
  display: block;
  text-align: center;
}

.bio-img img {
  margin: 0 !important;
}
