// Custom variables
$lm-primary: #2e3878; // Indigo
$lm-secondary: #5a7030; // Olive
$lm-gap: 1rem;

// Colors
$primary: $lm-primary;
$secondary: $lm-secondary;
$body-color: #262830;
$border-color: #d0d2d8;
$text-muted: rgba(38, 40, 48, 0.5);
$headings-color: #181a24;

// Fonts
$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;
// $font-size-base: 1.125rem;
$font-size-base: 1rem;
$font-weight-semibold: 500;

// Headings
$h1-font-size: $font-size-base * 1.75; // = 28px
$h2-font-size: $font-size-base * 1.5; // = 24px
$h3-font-size: $font-size-base * 1.25; // = 20px
$h4-font-size: $font-size-base * 1.125; // = 18px
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

// Miscellaneous
$border-radius: 0.45rem;
