{{ define "main" }}

{{ .Content }}

<div class="container-fluid">
  <div class="row gx-5">
    <div class="col-md-3 order-md-2">
      {{ partial "blog-nav" }}
    </div>
    <div class="col-md-9 order-md-1 blog-list">

      {{ range first 20 .Pages }}

      <article id='{{ urlize .Title }}' class="h-entry post">

        {{ partial "article-meta" . }}

        <div class='post-body e-content'>
          {{ .Content }}
        </div>
      </article>
      <div class="post-separator"></div>
      {{ end }}
    </div>
  </div>
</div>



{{ end }}
