{{ define "main" }}

<div class="container-fluid">
  <div class="row gx-5">
    <div class="col-md-4 offset-md-1 order-2">
      <div class="sidebar-nav sticky-md-top ps-3 py-4 mt-5 border-start">
        <div class="vstack gap-4 small">

          {{ with .Params.Linkpost }}
          <div>
            <h6 class="homepage-header mb-1">Link</h6>
            <a href="{{ . }}">{{ (urls.Parse .).Host }}</a>
          </div>
          {{ end }}

          {{ with .Params.via }}
          <div>
            <h6 class="homepage-header mb-1">Via</h6>
            <a href="{{ . }}">{{ (urls.Parse .).Host }}</a>
          </div>
          {{ end }}

          {{ with .Params.Crosspost }}
          <div>
            <h6 class="homepage-header mb-1">Crossposted</h6>
            <a href="{{ .URL }}"><i class="bi bi-box-arrow-up-right me-1"></i>{{ .Source | markdownify }}</a>
          </div>
          {{ end }}

          <div>
            <h6 class="homepage-header mb-1">Published</h6>
            <time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
              {{ .Date.Format "2 January 2006" }}
            </time>
          </div>

          <div>
            <h6 class="homepage-header mb-1">Last modified</h6>
            <time class="dt-updated" datetime='{{ time.Format "2006-01-02T15:04:05Z0700" .Lastmod }}'>
              {{ time.Format "2 January 2006, at 3:04pm" .Lastmod }}
            </time>
          </div>

          {{ with .Params.tags }}
          <div>
            <h6 class="homepage-header mb-1">Subjects</h6>
            <div class="d-flex flex-wrap gap-2">
            {{ range . }}
            <span class="badge rounded-pill text-bg-light px-2 py-1 text-nowrap">{{ . }}</span>
            {{ end }}
            </div>
          </div>
          {{ end }}

          {{ with .Title }}
          <div>
            <h6 class="homepage-header mb-1">Cite as</h6>
            Lincoln Mullen, &ldquo;{{ . | markdownify }},&rdquo; {{ $.Date.Format "2 January 2006" }}, {{ $.Permalink }}
          </div>
          {{ end }}

          <div>
            <h6 class="homepage-header mb-1">Site feeds</h6>
            <a href="/blog/index.xml" class="btn btn-sm btn-outline-secondary me-1"><i class="bi bi-rss-fill me-1"></i>RSS</a>
            <a href="/blog/index.json" class="btn btn-sm btn-outline-secondary"><i class="bi bi-rss-fill me-1"></i>JSON</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-7 order-1 py-5">

      <!-- Blog post starts here -->

      <article id='{{ with .Title }}{{ urlize . }}{{ else }}{{ .Slug }}{{ end }}' class="h-entry post">

        {{ with .Title }}

        <header>
          <a href='{{ $.Permalink }}' class="u-url u-uid permalink">
            <h1 class="post-title p-name">
              {{ . | markdownify }}
            </h1>
          </a>

          {{ if $.Params.Crosspost }}
          <div class="external-url mt-4 mb-4">
            This post originally appeared at {{ $.Params.Crosspost.Source |markdownify }}. <a href="{{ $.Params.Crosspost.URL }}">Read the original post.&nbsp;<i class="bi bi-box-arrow-up-right"></i></a>
          </div>
          {{ end}}
        </header>
        {{ end }}

        <div class='post-body e-content mt-2 mb-5'>
          {{ .Content }}
        </div>


        <footer class="post-footer">
          <a rel="author" class="p-author h-card author-link d-none" href="{{ .Site.BaseURL }}">Lincoln Mullen</a>
        </footer>

      </article>
      <!-- Blog post ends here -->

      <div class="mt-5">
        {{ partial "newsletter.html" (dict "tag" "blogpost-single") }}
      </div>

      <div class="mt-5 mb-4 prevnextlinks">
        <h5>More blog posts</h5>
        <div class="d-flex justify-content-between">
          {{ with .NextInSection }}
          <a class="text-start" href="{{ .Permalink }}">
            <i class="bi bi-arrow-left" aria-hidden="true"></i>&nbsp;{{ with .Title }}{{ . | markdownify }}{{ else }}{{ .Date.Format "January 2, 2006" }}{{ end }}
          </a>
          {{ end }}
          {{ with .PrevInSection }}
          <a class="text-end" href="{{ .Permalink }}">
            {{ with .Title }}{{ . | markdownify }}{{ else }}{{ .Date.Format "January 2, 2006" }}{{ end }}&nbsp;<i class="bi bi-arrow-right" aria-hidden="true"></i>
          </a>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</div>

{{ end }}

{{ define "canonical" }}
{{ if .Params.External }}
<link rel="canonical" href="{{ .Params.External.URL }}">
{{ else }}
<link rel="canonical" href="{{ .Page.Permalink }}">
{{ end }}
{{ end }}
