{{ define "main" }}

<div class="container-fluid">
  <div class="row gx-5">
    <div class="col-md-3 order-2">
      {{ partial "post-sidebar.html" . }}
    </div>
    <div class="col-md-9 order-1 py-2">

      <!-- Blog post starts here -->

      <article id='{{ with .Title }}{{ urlize . }}{{ else }}{{ .Slug }}{{ end }}' class="h-entry post">

        {{ with .Title }}

        <header>
          <a href='{{ $.Permalink }}' class="u-url u-uid permalink">
            <h1 class="post-title p-name">
              {{ . | markdownify }}
            </h1>
          </a>
        </header>
        {{ end }}

        <div class='post-body e-content mt-2 mb-5'>
          {{ .Content }}
        </div>

        {{ partial "post-microformats.html" . }}

      </article>
      <!-- Blog post ends here -->

      {{ with .Title }}
      {{ $related := where ($.Site.RegularPages.Related $ | first 15) ".Title" "ne" "" }}
      {{ $related = where $related "Section" "eq" "blog" }}
      {{ $related = where $related "Permalink" "ne" $.Permalink | first 5 }}
      {{ with $related }}
      <div class="mt-5">
        <hr>
        <aside>
          <p class="smallcaps-header mb-2">Related posts</p>
          <ul>
            {{ range . }}
            <li class="mb-1">
              <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </li>
            {{ end }}
          </ul>
        </aside>
      </div>
      {{ end }}
      {{ end }}


    </div>
  </div>
</div>

{{ with .Title }}
<div class="modal fade" id="citeModal" tabindex="-1" role="dialog" aria-labelledby="citeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <header class="modal-header">
        <span class="modal-title h5" id="citeModalLabel">Suggested citation</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>
      <div class="modal-body">
        <div class="mb-4">
          <p class="smallcaps-header mb-1">Footnote</p>
          <p id="cite-footnote" class="mb-1">Lincoln Mullen, &ldquo;{{ . | markdownify }},&rdquo; {{ $.Date.Format "2 January 2006" }}, <span class="font-monospace">{{ $.Permalink }}</span>.</p>
          <button type="button" class="btn btn-sm btn-outline-secondary" data-copy-target="cite-footnote">
            <i class="bi bi-clipboard"></i> Copy
          </button>
        </div>
        <div>
          <p class="smallcaps-header mb-1">Bibliography</p>
          <p id="cite-bibliography" class="mb-1">Mullen, Lincoln. &ldquo;{{ . | markdownify }}.&rdquo; {{ $.Date.Format "2 January 2006" }}. <span class="font-monospace">{{ $.Permalink }}</span>.</p>
          <button type="button" class="btn btn-sm btn-outline-secondary" data-copy-target="cite-bibliography">
            <i class="bi bi-clipboard"></i> Copy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}


{{ end }}

{{ define "canonical" }}
{{ if .Params.External }}
<link rel="canonical" href="{{ .Params.External.URL }}">
{{ else }}
<link rel="canonical" href="{{ .Page.Permalink }}">
{{ end }}
{{ end }}
