{{ define "main" }}
<div class="blog-layout">
  <div>
    <article id='entry-{{ with .Title }}{{ urlize . }}{{ else }}{{ .Slug }}{{ end }}' class="h-entry post">

      <h1 class="stmt"><a class="p-name u-url u-uid permalink" href="{{ .Permalink }}">{{ .Site.Params.NewsletterTitle }} #{{ .Slug }}: {{ .RenderString (dict "display" "inline") .Title }}</a></h1>

      <div class="reading bodyprose e-content">
        {{ .Content }}
      </div>

      {{ partial "post-microformats.html" . }}

    </article>
  </div>

  <aside class="rail">{{ partial "post-sidebar.html" . }}</aside>
</div>
{{ end }}

{{ define "canonical" }}
<link rel="canonical" href="{{ .Page.Permalink }}">
{{ end }}
