{{ define "main" }}

<div class="container-fluid">
  <div class="row gx-5">
    <div class="col-md-3 order-2">
      {{ partial "post-sidebar.html" . }}
    </div>
    <div class="col-md-9 order-1 py-2">

      <article id='{{ .Slug }}' class="h-entry post">

        <header>
          <a href='{{ .Permalink }}' class="u-url u-uid permalink">
            <h1 class="post-title p-name">
              {{ .Site.Params.NewsletterTitle }} #{{ .Slug}}: {{ .Title | markdownify }}
            </h1>
          </a>
        </header>

        <div class='post-body e-content mt-2 mb-5'>
          {{ .Content }}
        </div>

        {{ partial "post-microformats.html" . }}

      </article>

    </div>
  </div>
</div>

{{ end }}

{{ define "canonical" }}
<link rel="canonical" href="{{ .Page.Permalink }}">
{{ end }}
