<!DOCTYPE html>
<html lang="en-us">

<head>
	{{ block "title" . }}
	<title>{{ .Title }} | {{ .Site.Title }}</title>
	{{ end }}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ .Site.Author.name }}">
	{{ if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{ else if .IsPage }}
	<meta name="description" content="{{ .Summary | plainify }}">
	{{ end }}
	<meta name="monetization" content="$ilp.uphold.com/3ZWiyMk9zAZE">

	<!-- CSS and fonts -->
	<link rel="dns-prefetch" href="//files.lincolnmullen.com">
	<link rel="preconnect" href="https://files.lincolnmullen.com" crossorigin>
	<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
	<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

	{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
	{{ $style := resources.Get "scss/main.scss" | toCSS  $options | resources.Minify | resources.Fingerprint "md5" }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<!-- shortcut icons -->
	<link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">

	<!-- other websites -->
	<link href="https://micro.blog/lmullen" rel="me">
	<link href="https://weblog.lincolnmullen.com" rel="me">
	<link href="https://hcommons.org/members/lmullen/" rel="me">
	<link href="https://orcid.org/0000-0001-5103-6917" rel="me">
	<link href="https://github.com/lmullen/" rel="me">
	<link href="https://historyarthistory.gmu.edu/people/lmullen" rel="me">
	<link href="https://scholar.google.com/citations?hl=en&user=qhhNmCQAAAAJ" rel="me">
	<link href="https://www.zotero.org/lmullen/" rel="me">
	<link href="https://observablehq.com/@lmullen?tab=profile" rel="me">
	<link rel="alternate" type="application/rss+xml" href="/blog/index.xml" title="{{ .Site.Params.blogFeedTitle }}">
	<link rel="alternate" type="application/rss+xml" href="https://weblog.lincolnmullen.com/feed.xml" title="Lincoln Mullen's Internet Weblog">

	{{ partial "analytics.html" . }}

</head>

<body>

	{{ block "page-header" . }}
	<div class="container main-container">

		<header id="site-header">
			<ul class="nav flex-column flex-sm-row mb-3">
				<li>
					<a href="/" class="nav-link site-title">{{ .Site.Title }}</a>
				</li>
				<li>
					<a class="nav-link" href="/">About</a>
				</li>
				<li>
					<a class="nav-link" href="//files.lincolnmullen.com/Mullen-cv.pdf">CV</a>
				</li>
				<!-- <li> -->
				<!-- <a class="nav-link" href="/scholarship/">Scholarship</a> -->
				<!-- </li> -->
				<li>
					<a class="nav-link" href="/courses/">Teaching</a>
				</li>
				<li>
					<a class="nav-link" href="/blog/">Blog</a>
				</li>
			</ul>
		</header>

		{{ end }}

		<main>
			{{ block "main" . }}

			{{ end }}
		</main>

		{{ block "footer" . }}

		<footer class="site-footer">
			<div class="h-card">
				<p>
					This website is created in <a href="https://en.wikipedia.org/wiki/Annandale,_Virginia"><span class="p-adr h-adr"><span class="p-locality">Annandale</span>, <span class="p-region">Virginia</span></span></a>. Made with <a href="https://gohugo.io/">Hugo</a> (<a href="https://github.com/lmullen/lincolnmullen.com">source code</a>). Here are some <a href="/page/cool-things/">cool things</a>.
				</p>
				<p class="d-none">
					Created by <a href="https://lincolnmullen.com" rel="me" class="u-url u-uid p-name"><span class="p-given-name">Lincoln</span> <span class="p-family-name">Mullen</span></a> &lt;<span class="u-email">lincoln@lincolnmullen.com</span>&gt;. <a class="u-photo" href='{{ (resources.Get "img/lincoln-mullen-photo.jpg").Permalink }}'>Photo</a>.
				</p>
				<p class="d-none p-note">Lincoln Mullen is a historian of American religion and the nineteenth-century United States, often using computational methods for texts and maps. He is an associate professor in the <a class="p-org u-url h-card" href="https://historyarthistory.gmu.edu/people/lmullen">Department of History and Art History at George Mason University</a>, as well as one of the faculty directors at the <a class="p-org u-url h-card" href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a>.</p>

			</div>
		</footer>
		{{ end }}
	</div>

	{{ block "scripts" . }}
	{{ end }}

</body>

</html>
