<p>
&copy; {{ site.time | date: "%Y" }} {{ site.author }} &middot; 
Source at <a 
	href="https://github.com/lmullen/lincolnmullen.com">GitHub</a> 
&middot; <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
&middot; Posts licensed <a rel="license" 
    href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
    CC-BY 3.0</a>.&nbsp;
<a rel="license" 
  href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img 
  alt="Creative Commons License" style="border-width:0" 
  src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
</p>
