:root {
  --lm-border-color: #bebebe;
  --lm-border: var(--bs-border-width) var(--bs-border-style) var(--lm-border-color);
  --lm-gap: 1rem;
  --lm-primary-color: rgb(195, 42, 38);
  --lm-primary-hover-color: rgb(157, 40, 36);
  --bs-body-color: #121213;
  --bs-body-font-family: var(--bs-font-sans-serif);
  /* --bs-body-font-size: 1.1rem; */
  --bs-border-color: #dee2e6;
  --bs-border-style: solid;
  --bs-border-width: 1px;
  --bs-font-monospace: "IBM Plex Mono", monospace;
  --bs-font-sans-serif: "IBM Plex Sans", sans-serif;
  --bs-link-color: var(--lm-primary-color);
  --bs-link-hover-color: var(--lm-primary-hover-color);
}
.btn-primary {
  --bs-btn-bg: var(--lm-primary-color);
  --bs-btn-hover-bg: var(--lm-primary-hover-color);
  --bs-btn-border-color: var(--lm-primary-color);
  --bs-btn-hover-border-color: var(--lm-primary-hover-color);
}

/* Body styles */
body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-container {
  max-width: 1000px;
}

/* Typography */
strong {
  font-weight: 500;
}

/* Navigation */
nav a {
  padding-right: 0.65rem;
  white-space: nowrap;
  text-decoration: none;
}

.site-title {
  font-weight: 600;
  text-decoration: none;
  color: var(--bs-body-color);
}

#site-header {
  padding-bottom: var(--lm-gap);
  margin-bottom: var(--lm-gap);
  border-bottom: var(--lm-border);
}

/* Homepage */
.list-icon {
  margin-right: 0.5rem;
}

.homepage-list a {
  text-decoration: none;
  /* color: black; */
}

.homepage-list .bi-rss-fill {
  color: var(--bs-link-color);
}

.homepage-header {
  font-weight: 500;
  font-size: var(--bs-body-font-size);
}

.border-none {
  border-width: 0;
}
