<div class="sidebar-nav sticky-md-top ps-3 py-4 mt-2">
  <div class="vstack gap-4 small">

    <div>
      <p class="smallcaps-header mb-1">Navigate</p>
      <div class="vstack gap-2">
        <div><a href="/blog/">Recent posts</a></div>
        <div><a href="/archive/">Blog posts by date</a></div>
      </div>
    </div>

    <div>
      <p class="smallcaps-header mb-1">Newsletter</p>
      <form action="https://buttondown.email/api/emails/embed-subscribe/lmullen" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/lmullen', 'popupwindow')" class="embeddable-buttondown-form">
        <input type="hidden" value="1" name="embed"><input type="hidden" name="tag" value="blog-list">
        <div class="input-group input-group-sm">
          <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email address">
          <button type="submit" class="btn btn-secondary">Subscribe</button>
        </div>
      </form>
    </div>

    {{ partial "feeds.html" . }}

  </div>
</div>
