<div class="sidebar-nav sticky-md-top ps-3 py-4 mt-5 border-start">
  <div class="vstack gap-4">
    <div>
      <i class="bi bi-hourglass-split feed-icon list-icon" role="img" aria-hidden="true"></i><a href="/blog/">Recent posts</a>
    </div>
    <div>
      <i class="bi bi-calendar-week feed-icon list-icon" role="img" aria-hidden="true"></i><a href='/blog/archive/'>All posts by date</a>
    </div>
    <div>
      <i class="bi bi-box-arrow-up-right feed-icon list-icon" role="img" aria-hidden="true"></i><a href='/links/'>All link posts</a>
    </div>
    <div>
      <i class="bi bi-rss-fill feed-icon list-icon" role="img" aria-hidden="true"></i><a rel="alternate" type="application/atom+xml" href="/blog/index.xml">Blog feed</a>
    </div>
    <div>
      Other places I write:
      <p class="mb-0">
        <img aria-hidden="true" alt="" src="/img/microblog.svg" width="16" height="16" class="list-icon"><a href="https://weblog.lincolnmullen.com/">Micro.blog</a>
      </p>
      <p class="mt-0">
        <i class="bi bi-envelope-heart-fill list-icon" style="color:rgb(19, 141, 194);"></i><a href="https://buttondown.email/lmullen">Newsletter</a>
      </p>
    </div>
  </div>
</div>
