<div class="float-md-end homepage-links" id="homepage-sidebar">
	<h3 class="homepage-header">More information</h3>
	<ul class="list-unstyled homepage-list">
		<li><i class="bi bi-journal-bookmark list-icon" role="img" aria-hidden="true" style="color:rgb(114, 62, 199);"></i><a href="/bio/">Biography</a></li>
		<li>
			<i class="bi bi-calendar-event list-icon" role="img" aria-hidden="true" style="color:rgb(24, 182, 42);"></i><a href="/page/office-hours/">Book an appointment</a>
		</li>
	</ul>
	<h3 class="homepage-header mt-md-4 mb-1">Around the internet</h3>
	<ul class="list-unstyled homepage-list">
		<li><img aria-hidden="true" alt="" src="/img/bluesky.png" width="16" height="16" class="list-icon"><a href="https://bsky.app/profile/lincolnmullen.com" rel="me">Bluesky</a>
		<li><i class="bi bi-github list-icon" role="img" aria-hidden="true" style="color:purple;"></i><a href="https://github.com/lmullen" rel="me">GitHub</a></li>
		<li><i class="bi bi-bank2 list-icon" role="img" aria-hidden="true" style="color:rgb(0, 105, 64);"></i><a href="https://historyarthistory.gmu.edu/people/lmullen" rel="me">GMU faculty page</a></li>
		<li><img aria-hidden="true" alt="" src="/img/google-scholar.svg" width="16" height="16" class="list-icon"><a href="https://scholar.google.com/citations?hl=en&user=qhhNmCQAAAAJ" rel="me">Google Scholar</a>
		<li><i class="bi bi-file-earmark-text-fill list-icon" role="img" aria-hidden="true" style="color:rgb(163, 37, 151);"></i><a href="https://hcommons.org/members/lmullen/" rel="me">Humanities Commons</a></li>
		<li><i class="bi bi-linkedin list-icon" role="img" aria-hidden="true" style="color:rgb(49,113,172);"></i><a href="https://www.linkedin.com/in/lincolnmullen/" rel="me">LinkedIn</a></li>
		<li><img aria-hidden="true" alt="" src="/img/orcid.svg" width="16" height="16" class="list-icon"><a href="https://orcid.org/0000-0001-5103-6917" rel="me">ORCID</a>
		</li>
		<li><i class="bi bi-book-half list-icon" role="img" aria-hidden="true" style="color:rgb(255, 183, 38);"></i><a href="https://www.zotero.org/lmullen" rel="me">Zotero</a></li>
		<li><img aria-hidden="true" alt="" src="/img/zoom.svg" width="16" height="16" class="list-icon"><a href="https://gmu.zoom.us/j/8191376868?pwd=dFF5VzRXV2tpOGJQZG9LMFJmK25PZz09">Zoom meeting room</a></li>
	</ul>
	<h3 class="homepage-header mt-md-4 mb-1">Contact me</h3>
	<p>
		<i class="bi bi-envelope-fill list-icon" role="img" aria-hidden="true" style="color:rgb(21, 96, 161);"></i><a href="mailto:lincoln@lincolnmullen.com">lincoln@lincolnmullen.com</a>
	</p>

	<h3 class="homepage-header mt-md-4">Feed</h3>
	<ul class="list-unstyled homepage-list">
		<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="blog/index.xml">Site feed (RSS)</a></li>
		<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="blog/index.json">Site feed (JSON)</a></li>
	</ul>
</div>
