<div class="row">
	<div class="col-md-4 mb-3">
		<h3 class="homepage-header mb-2">Feeds &amp; pages</h3>
		<ul class="list-unstyled homepage-list">
			<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="blog/index.xml">Site feed (RSS)</a></li>
			<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="blog/index.json">Site feed (JSON)</a></li>
			<li><a href="/page/cool-things/">Cool things</a></li>
			<li><a href="/page/history-datasets/">History datasets</a></li>
		</ul>
	</div>
</div>
