<div class="float-md-end homepage-links">
	<h3 class="homepage-header">Around the internet</h3>
	<ul class="list-unstyled homepage-list">
		<li><i class="bi bi-envelope-fill list-icon" role="img" aria-hidden="true" style="color:rgb(21, 96, 161);"></i><a href="mailto:lincoln@lincolnmullen.com">lincoln@lincolnmullen.com</a></li>
		<li><i class="bi bi-github list-icon" role="img" aria-hidden="true" style="color:purple;"></i><a href="https://github.com/lmullen">GitHub</a></li>
		<li><img aria-hidden="true" alt="" src="/img/microblog.svg" width="16" height="16" class="list-icon"><a href="https://weblog.lincolnmullen.com/">Micro.blog</a>
		<li><img aria-hidden="true" alt="" src="/img/orcid.svg" width="16" height="16" class="list-icon"><a href="https://orcid.org/0000-0001-5103-6917">ORCID</a>
		<li><img aria-hidden="true" alt="" src="/img/google-scholar.svg" width="16" height="16" class="list-icon"><a href="https://scholar.google.com/citations?hl=en&user=qhhNmCQAAAAJ">Google Scholar</a>
		</li>
		<li><i class="bi bi-bank2 list-icon" role="img" aria-hidden="true" style="color:rgb(0, 105, 64);"></i><a href="https://historyarthistory.gmu.edu/people/lmullen">GMU faculty page</a></li>
		<li><i class="bi bi-file-earmark-text-fill list-icon" role="img" aria-hidden="true" style="color:rgb(163, 37, 151);"></i><a href="https://hcommons.org/members/lmullen/">Humanities Commons</a></li>
		<li><i class="bi bi-book-half list-icon" role="img" aria-hidden="true" style="color:rgb(255, 183, 38);"></i><a href="https://www.zotero.org/lmullen">Zotero</a></li>
	</ul>
	<h3 class="homepage-header mt-md-4 mb-1">Office hours</h3>
	<p>
		How to <a href="/page/office-hours/">book an office hours appointment</a>.
	</p>
	<h3 class="homepage-header mt-md-4">Feeds</h3>
	<ul class="list-unstyled homepage-list">
		<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="blog/index.xml">Blog feed</a></li>
		<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="https://weblog.lincolnmullen.com/feed.xml">Micro.blog feed</a></li>
		<li><i class="bi bi-rss-fill list-icon" role="img" aria-hidden="true"></i><a href="https://buttondown.email/lmullen/rss">Newsletter feed</a></li>
	</ul>
</div>
