{{- /*
OpenGraph and Twitter/X Card meta tags

Image resolution:
1. image: front matter field → try as page bundle resource, then as global asset
2. Default: assets/img/social-media.jpeg
*/ -}}

{{- /* Determine page title */ -}}
{{- $title := .Title -}}
{{- if .IsHome -}}
  {{- $title = .Site.Title -}}
{{- else if $title -}}
  {{- $title = printf "%s | %s" .Title .Site.Title -}}
{{- else -}}
  {{- /* Micro posts and other title-less pages: use site title only */ -}}
  {{- $title = .Site.Title -}}
{{- end -}}

{{- /* Determine description */ -}}
{{- $description := .Site.Params.description -}}
{{- if .Description -}}
  {{- $description = .Description -}}
{{- else if .Summary -}}
  {{- $description = .Summary | plainify | truncate 200 -}}
{{- else if .IsPage -}}
  {{- $description = .Summary | plainify | truncate 200 -}}
{{- end -}}

{{- /* Determine canonical URL */ -}}
{{- $url := .Permalink -}}

{{- /* Determine page type */ -}}
{{- $type := "website" -}}
{{- if .IsPage -}}
  {{- if eq .Section "blog" -}}
    {{- $type = "article" -}}
  {{- else if eq .Section "newsletter" -}}
    {{- $type = "article" -}}
  {{- end -}}
{{- end -}}

{{- /* Determine image */ -}}
{{- $image := "" -}}
{{- if .Params.image -}}
  {{- with .Resources.GetMatch .Params.image -}}
    {{- $resized := .Fit "1200x630" -}}
    {{- $image = $resized.Permalink -}}
  {{- else -}}
    {{- $globalPath := strings.TrimPrefix "/" $.Params.image -}}
    {{- with resources.Get $globalPath -}}
      {{- $resized := .Fit "1200x630" -}}
      {{- $image = $resized.Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if not $image -}}
  {{- with resources.Get "img/social-media.jpeg" -}}
    {{- $resized := .Fit "1200x630" -}}
    {{- $image = $resized.Permalink -}}
  {{- end -}}
{{- end -}}

<!-- OpenGraph meta tags -->
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ $url }}">
<meta property="og:type" content="{{ $type }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- if $image }}
<meta property="og:image" content="{{ $image }}">
{{- end }}
{{- if eq $type "article" }}
<meta property="article:author" content="{{ .Site.Params.author.name }}">
{{- with .PublishDate }}
<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- with .Params.tags }}
{{- range . }}
<meta property="article:tag" content="{{ . }}">
{{- end }}
{{- end }}
{{- end }}

<!-- Twitter/X Card meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- if $image }}
<meta name="twitter:image" content="{{ $image }}">
{{- end }}
