<footer class="post-footer d-none">
  <a rel="author" class="p-author h-card" href="{{ "/" | absURL }}">Lincoln Mullen</a>
  <time class="dt-published" datetime='{{ .Date.Format site.Params.dateForms.rfc3339 }}'>{{ .Date.Format site.Params.dateForms.long }}</time>
  <time class="dt-updated" datetime='{{ time.Format site.Params.dateForms.rfc3339 .Lastmod }}'>{{ time.Format site.Params.dateForms.long .Lastmod }}</time>
  {{- with .Description }}
  <data class="p-summary" value="{{ . }}"></data>
  {{- end }}
  {{- range .Params.tags }}
  <data class="p-category" value="{{ . }}"></data>
  {{- end }}
  {{- with .Params.image }}
  {{- with $.Resources.GetMatch . }}
  <img class="u-photo" src="{{ .Permalink }}" alt="">
  {{- end }}
  {{- end }}
</footer>
