{{ define "analytics" }}
<script defer src="https://domesday.lincolnmullen.com/script.js" data-status="404"></script>
<noscript>
  <img src="https://domesday.lincolnmullen.com/collect/pixel?url={{ .Permalink | urlquery }}" alt="" width="1" height="1" />
</noscript>
{{ end }}

{{ define "main" }}

<h1>404 Not Found</h1>
<p>
  Sorry, that page isn't available. Try the <a href="/">home page</a> or the list of <a href="/blog/archive/">blog posts
    by date</a>. Or you can try searching this site below.
</p>
<form role="search" class="searchform" action="https://duckduckgo.com/">
  <input type="text" name="q" placeholder="Search" />
  <input type="hidden" name="sites" value="lincolnmullen.com" />
</form>

{{ end }}
