{{ define "title" }}
<title>{{ .Site.Title }} | {{ .Site.Params.Subtitle }}</title>
{{ end }}

{{ define "main" }}

<div class="container-fluid">

	<p class="lead">
		{{ .Page.Params.Lede | markdownify }}
	</p>

	<div class="d-none d-md-block">
		{{ partial "homepage-sidebar.html" .}}
	</div>

	<div>
		{{ .Content }}
	</div>

	<div class="row">
		<h3 class="h4">Current work</h3>

		{{ $scholarship := where (where .Site.RegularPages "Type" "scholarship" ) "Params.homepage" "==" true }}
		{{ range sort $scholarship "Params.homepageOrder"}}

		<div class="card border-none mb-3 homepage-card">
			<div class="row g-0">
				<div class="col-md-4 col-sm-4">
					{{ $img := .Resources.Get .Params.thumbnail }}
					{{ $thumb1x := $img.Resize "600x webp" }}
					{{ $thumb2x := $img.Resize "1200x webp" }}
					<img class="img-thumbnail rounded img-fluid" src="{{ $thumb2x.Permalink }}" srcset="{{ $thumb1x.Permalink }} 1x, {{ $thumb2x.Permalink }} 2x" alt="Thumbnail for {{ .Title }}" />
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="card-body pt-md-0 pt-sm-0">
						<h5 class="card-title mb-0">{{ .Title }}</h5>
						{{ if .Params.Subtitle }}<p class="h5"><span class="text-muted small">{{ .Params.Subtitle }}</span></p>{{ end }}
						<div class="card-text">
							{{ .Description | markdownify }}
						</div>
						{{ if .Params.Links }}
						<p>
							{{ range .Params.Links }}
							<a class="card-link" href="{{ .url }}">{{ .text }}&nbsp;<i class="bi bi-box-arrow-up-right"></i></a>
							{{ end }}
						</p>
						{{ end }}
					</div>
				</div>
			</div>
		</div>

		{{ end }}

		<p><strong>Scholarship</strong>. Here are some things I’ve worked
			on:</p>
		<ul>
			<li>John Turner and I are working with a team at RRCHNM on a project we
				call <a href="http://religiousecologies.org"><em>American Religious
						Ecologies</em></a>. We are currently working on <a href="https://rrchnm.org/news/rrchnm-to-digitize-the-1926-census-of-religious-bodies/">digitizing</a>
				the 1926 Census of Religious Bodies.</li>
			<li><em>America’s Public Bible: A Commentary</em> is a large-scale text
				analysis of the use of the Bible in American newspapers. A <a href="http://americaspublicbible.org/">prototype</a> of the project is
				available online, and I’m working on an expanded version.</li>
			<li>Kellen Funk and I wrote an article called “<a href="https://academic.oup.com/ahr/article/123/1/132/4840258?guestAccessKey=3a271895-4af8-41e8-b3d9-15941dfe0bcf">The
					Spine of American Law: Digital Text Analysis and U.S. Legal
					Practice</a>.” Someday we will do more with digital legal history.</li>
			<li><a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674975620"><em>The
						Chance of Salvation: A History of Conversion in America</em></a> was
				published by Harvard University Press in 2017.</li>
			<li>Nothing else I ever do will be as popular as this <a href="https://lincolnmullen.com/projects/slavery/">map of American
					slavery</a>.</li>
		</ul>
	</div>

	<div class="d-md-none">
		{{ partial "homepage-sidebar.html" . }}
	</div>
</div>

{{ end }}
