{{ define "title" }}
<title>{{ .Site.Title }} | {{ .Site.Params.Subtitle }}</title>
{{ end }}

{{ define "main" }}

<div class="container-fluid">

	<p class="lead">
		{{ .Page.Params.Lede | markdownify }}
	</p>

	<div class="d-none d-md-block">
		{{ partial "homepage-sidebar.html" .}}
	</div>

	<div>
		{{ .Content }}
	</div>

	{{ partial "homepage-gallery.html" . }}

	<!-- Move the sidebar to the bottom on small screens -->
	<div class="d-md-none">
		{{ partial "homepage-sidebar.html" . }}
	</div>
</div>

{{ end }}
