Redirect 301 /projects/coding-poster https://lincolnmullen.com/blog/poster-teaching-graduate-students-to-code/
Redirect 301 /blog/feed/ https://lincolnmullen.com/blog/index.xml
Redirect 301 /blog/category/history/feed/ https://lincolnmullen.com/blog/index.xml
Redirect 301 /blog/feed/atom/ https://lincolnmullen.com/blog/index.xml
Redirect 301 /feed/ https://lincolnmullen.com/blog/index.xml
Redirect 301 /comments/feed/ https://lincolnmullen.com/blog/index.xml
Redirect 301 /posts.atom.xml https://lincolnmullen.com/blog/index.xml
Redirect 301 /atom.xml https://lincolnmullen.com/blog/index.xml
Redirect 302 /assets/favicon.png https://lincolnmullen.com/img/favicon.png
Redirect 302 /cv/index.html https://lincolnmullen.com/files/Mullen-cv.pdf
Redirect 302 /cv/ https://lincolnmullen.com/files/Mullen-cv.pdf

Redirect 301 /blog/a-very-preliminary-taxonomy-of-sources-of-nineteenth-century-us-religious-data/ https://lincolnmullen.com/blog/a-very-preliminary-taxonomy-of-sources-of-nineteenth-century-u-s-religious-data/
Redirect 301 /blog/makefiles-for-ocr-and-converting-shapefiles https://lincolnmullen.com/blog/makefiles-for-writing-data-analysis-ocr-and-converting-shapefiles/
Redirect 301 /blog/the-spread-of-american-slavery/ https://lincolnmullen.com/blog/mapping-the-spread-of-american-slavery/

ErrorDocument 404 /404.html

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^blog/wp-content/uploads/(.*)$ https://lincolnmullen.com/files/uploads/$1 [L,R=302]
RewriteRule ^projects/dh-r/(.*)$ https://dh-r.lincolnmullen.com/ [L,R=301]
RewriteRule ^course-blogs/(.*)$ https://lincolnmullen.com/ [L,R=301]
RewriteRule ^projects/notebook/(.*)$ https://lincolnmullen.com/ [R=301,NC,L]
RewriteRule ^projects/worksheets/(.*)$ https://dh-r.lincolnmullen.com/ [R=301,NC,L]
RewriteRule ^downloads/(.*)$ https://lincolnmullen.com/files/downloads/$1 [R=301,NC,L]
RewriteRule ^figures/(.*)$ https://lincolnmullen.com/files/figures/$1 [R=301,NC,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</IfModule>


<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/html "access"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 day"
ExpiresByType text/x-javascript "access plus 1 day"
ExpiresByType image/x-icon "access plus 1 week"
ExpiresDefault "access plus 1 day"
</IfModule>


<Files 403.shtml>
order allow,deny
allow from all
</Files>

