{{ define "main" }}
<div class="blog-layout">
  <div>
    <div class="shead"><span class="lbl">Blog posts by date</span></div>
    {{ with .Content }}<div class="bodyprose mb-4">{{ . }}</div>{{ end }}

    {{ range (where .Site.RegularPages "Section" "blog").GroupByDate "2006" }}
    <div class="idx-group">
      <div class="idx-year">{{ .Key }}</div>
      {{ range .Pages }}
      {{ if and (not .Params.Linkpost) .Title }}
      <div class="idx-row">
        <time class="idx-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
        <a class="idx-title" href="{{ .Permalink }}">{{ .RenderString (dict "display" "inline") .Title }}</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>

  <aside class="sidebar">{{ partial "blog-nav" . }}</aside>
</div>
{{ end }}
