<div class="row">

  {% assign projects = (site.projects | sort: 'order') %}
  {% for project in projects %}
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <a href="{{ project.link }}">
          <img src="{{ project.thumbnail }}" alt="{{ project.title}} thumbnail">
        </a>
        <div class="caption">
          <a href="{{ project.link }}">
            <h4>
              {{ project.title }}
            </h4>
          </a>
          <p>
            {{ project.content }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

