<div class="row">

  {% assign projects = (site.projects | sort: 'order') %}
  {% for project in projects %}
    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="thumbnail" data-mh="projects">
        <a href="{{ project.link }}">
          <img src="{{ project.thumbnail }}" alt="{{ project.title}} thumbnail">
        </a>
        <div class="caption">
          <a href="{{ project.link }}">
            <h4>
              {{ project.title }}
            </h4>
          </a>
          <p>
            <small>
              {{ project.content }}
            </small>
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

<h4>Other projects</h5>
<p>
  <a href="/blog/detecting-text-reuse-in-legal-documents/">Detecting Text Reuse in Nineteenth-Century Legal Documents</a> (ongoing)
</p>
<p>
  <a href="https://github.com/lmullen/demographics-religion">Historical Demographics of U.S. Religion</a> (ongoing)
</p>
<p>
  <a href="/research/history-dissertations/">Analyzing Historical History Dissertations</a> (2014)
</p>
<p>
  <a href="/research/history-dissertations/"><em>Journal of Southern Religion</em></a> (2011&ndash;2015)
</p>

