<h5>
  <a href="/research/#dissertation">
    Dissertation:
  </a>
</h5>
<p>
  "The Varieties of Religious Conversion: The Origins of Religious Choice in the United States"
</p>
<h5>
  <a href="/research/#american-converts-database">
    The American Converts Database
  </a>
</h5>
<p>
  <a href="/research/#american-converts-database">
    <img src="/downloads/post/project-convertsdb.png" />
  </a>
</p>
<h5>
  <a href="/research/#historical-demographics-of-american-religion">
    Historical Demographics of American Religion
  </a>
</h5>
<p>
  <a href="/research/#historical-demographics-of-american-religion">
    <img src="/downloads/post/project-demographics.png" />
  </a>
</p>
<h5>
  <a href="/research/#journal-of-southern-religion">
    Journal of Southern Religion
  </a>
</h5>
<p>
  <a href="/research/#journal-of-southern-religion">
    <img src="/downloads/post/project-jsr.png" />
  </a>
</p>