<h1><a href="/">{{ site.title }}</a></h1>

<h5></h5>

<ul class="list-unstyled">
  <li>
    <a href="mailto:lincoln@lincolnmullen.com">
      <i class="fa fa-fw fa-envelope-o"></i>
      lincoln@lincolnmullen.com
    </a>
  </li>
  <li>
    <a href="https://github.com/lmullen/">
      <i class="fa fa-fw fa-github"></i>
      GitHub
    </a>
  </li>
  <li>
    <a href="https://twitter.com/lincolnmullen">
      <i class="fa fa-fw fa-twitter"></i>
      Twitter
    </a>
  </li>
  <li>
    <a href="https://www.zotero.org/lmullen/items/order/dateModified/sort/desc">
      <i class="fa fa-fw fa-book"></i>
      Zotero
    </a>
  </li>
</ul>

<hr>

<ul class="list-unstyled">
  <li>
    <a href="{{site.subscribe_rss}}">
      <i class="fa fa-fw fa-rss"></i>
      Blog Posts
    </a>
  </li>
  <li>
    <a href="http://notebook.lincolnmullen.com/_feed/">
      <i class="fa fa-fw fa-rss"></i>
      Open Notebook
    </a>
  </li>
</ul>

<hr>

<p>
  <a href="files/Mullen-cv.pdf"> 
    <i class="fa fa-fw fa-2x fa-file-pdf-o"></i>
    Full CV
  </a> 
</p>


<hr>

<ul class="nav front-page-nav nav-list hidden-xs hidden-sm">
  <li><a data-scroll href="#about">About</a></li>
  <li><a data-scroll href="#digital-projects">Digital Projects</a></li>
  <li><a data-scroll href="#publications">Publications</a></li>
  <li><a data-scroll href="#software">Academic Software</a></li>
  <li><a data-scroll href="#presentations">Presentations</a></li>
  <li><a data-scroll href="#workshops">Workshops</a></li>
  <li><a data-scroll href="#blog">Blog</a></li>
</ul>
