<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <div id="icons">
        <a href="https://twitter.com/lincolnmullen"><i 
            class="foundicon-twitter"></i></a>
        <a href="https://github.com/lmullen"><i 
            class="foundicon-github"></i></a>
        <a href="{{site.subscribe_rss}}"><i class="foundicon-rss"></i></a>
      </div>
    </div>

    <div class="sidebar-nav">
      <a href="/">About</a> |
      <a onclick="ga('send', 'event', { 
        'eventCategory': 'PDF', 'eventAction': 'Download', 'eventLabel': 
      'Mullen-cv.pdf', 'page': '/files/Mullen-cv.pdf' });" 
    href="/files/Mullen-cv.pdf">CV</a> |
      <a href="/blog/">Blog</a> |
      <a href="/research/">Research</a> | 
      <a href="/publications/">Publications</a> |
      <a href="/teaching/">Teaching</a> |
      <a href="/workshops/">Workshops</a>
    </div>

  </div>
</div>

