<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Lincoln Mullen</title>
	<link rel="stylesheet" media="screen" href="../css/main.css">
	<link rel="canonical" href="http://lincolnmullen.com">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="page">
	<header>
		<h1>Lincoln Mullen</h1>
		<nav id="header-nav">
			<a href="">CV</a>
			<a href="">Writing</a>
			<a href="">Speaking</a>
			<a href="">Teaching</a>
		</nav>
	</header>
	<div id="content">
	<article>
		<h2>Article Header Goes Here</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
	</article>
	</div id="content">
	<footer>
		This is the footer text. More text goes here. 
	</footer>
	<div>
		<!-- Don't forget the Google Analytics code -->
</body>
</html>