{{ define "main" }}

<div class="container-fluid">

	<h1>{{ .Title }}</h1>

	{{ .Content }}

	<div class="row gx-5">
		<div class="col-md-3 order-md-2">
			{{ partial "blog-nav" }}
		</div>
		<div class="col-md-9 order-md-1 blog-archive mt-4">
			{{ range (where .Site.RegularPages "Section" "links").GroupByDate "2006" }}
			<div class="mb-4">
				<h2>{{ .Key }}</h2>
				<table class='date-list-table'>
					<colgroup>
						<col style="width:8rem;">
						<col>
					</colgroup>
					<tbody>
						{{ range .Pages }}
						<tr>
							<td><a href="{{ .Params.Linkpost }}" class="link-post-date"><time class="date" datetime="2006-01-02">{{ .Date.Format "January 2" }}</time>&nbsp;<i class="bi bi-box-arrow-up-right"></i></a></td>
							<td>{{ .Content }}</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
