---
layout: default
title: Home
...

{% if page.url == '/index.html' %}
  <div class="bio">
    <p>
      I am an
      <a href="http://historyarthistory.gmu.edu/people/lmullen">assistant
        professor</a> in the
      <a href="http://historyarthistory.gmu.edu/">Department of History and
        Art History</a> at <a href="http://www.gmu.edu/">George Mason
        University</a>, working on digital history and the history of American
      religions. You can write to me at
      <code>lincoln@lincolnmullen.com</code>.
    </p>
  </div>
{% endif %}

{% include front-page-blog.html %}

<hr>

{% include front-page-projects.html %}
