<div class="attention">
  <p>
    If you like, you can read about what I am <a href="/now/">currently working on</a> over the next month and semester</a>.
  </p>
  <div>
    You can also subscribe to &ldquo;<a href="https://buttondown.email/lmullen">Working on It</a>,&rdquo; an occasional newsletter about American religious history, digital history, and the making thereof.
    <form action="https://buttondown.email/api/emails/embed-subscribe/lmullen" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/lmullen', 'popupwindow')" class="embeddable-buttondown-form">
      <fieldset id="newsletter-form"><input type="email" name="email" id="bd-email" placeholder="Your email address"> <input type="hidden" value="1" name="embed"></input> <input class="submit" type="submit" value="Subscribe"></input></fieldset>
    </form>
  </div>
</div>
