<!-- START You Can Book Me -->
<!--
<h2 id="undergrad">For undergraduates</h2>
<iframe
  src="https://lincolnmullen-undergrad.youcanbook.me/?noframe=true&skipHeaderFooter=true"
  id="ycbmiframelincolnmullen-undergrad"
  style="
    width: 100%;
    height: 1000px;
    border: 0px;
    background-color: transparent;
  "
  frameborder="0"
  allowtransparency="true"
></iframe>
<script>
  window.addEventListener &&
    window.addEventListener(
      "message",
      function (event) {
        if (event.origin === "https://lincolnmullen-undergrad.youcanbook.me") {
          document.getElementById(
            "ycbmiframelincolnmullen-undergrad"
          ).style.height = event.data + "px";
        }
      },
      false
    );
</script>
-->

<h2 id="gradstudent">For graduate students</h2>
<iframe
  src="https://lincolnmullen-gradstudent.youcanbook.me/?noframe=true&skipHeaderFooter=true"
  id="ycbmiframelincolnmullen-gradstudent"
  style="
    width: 100%;
    height: 1000px;
    border: 0px;
    background-color: transparent;
  "
  frameborder="0"
  allowtransparency="true"
></iframe>
<script>
  window.addEventListener &&
    window.addEventListener(
      "message",
      function (event) {
        if (
          event.origin === "https://lincolnmullen-gradstudent.youcanbook.me"
        ) {
          document.getElementById(
            "ycbmiframelincolnmullen-gradstudent"
          ).style.height = event.data + "px";
        }
      },
      false
    );
</script>

<h2 id="projects">For project meetings and collaborators</h2>
<iframe
  src="https://lincolnmullen-projects.youcanbook.me/?noframe=true&skipHeaderFooter=true"
  id="ycbmiframelincolnmullen-projects"
  style="
    width: 100%;
    height: 1000px;
    border: 0px;
    background-color: transparent;
  "
  frameborder="0"
  allowtransparency="true"
></iframe>
<script>
  window.addEventListener &&
    window.addEventListener(
      "message",
      function (event) {
        if (event.origin === "https://lincolnmullen-projects.youcanbook.me") {
          document.getElementById(
            "ycbmiframelincolnmullen-projects"
          ).style.height = event.data + "px";
        }
      },
      false
    );
</script>
