<hr>
<div id="gallery">
  <div class="panel chance">
    <img src="/img/gallery/chance-of-salvation-520w.png">
    <p><a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674975620">The Chance of Salvation</a></p>
  </div>
  <div class="panel relec">
    <img src="/img/gallery/relec-1060w.png">
    <p>American Religious Ecologies</p>
  </div>
  <div class="panel apb">
    <img src="/img/gallery/apb-520w.png">
    <p>America&rsquo;s Public Bible</p>
  </div>
  <div class="panel spine">
    <img src="/img/gallery/spine-520w.png">
    <p>Spine of American Law</p>
  </div>
  <div class="panel elections">
    <img src="/img/gallery/elections-520w.png">
    <p>Mapping Early American Elections</p>
  </div>
  <div class="panel slavery">
    <img src="/img/gallery/slavery-520w.png">
    <p>Spread of American Slavery</p>
  </div>
  <div class="panel borders">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Historical Boundaries</p>
  </div>
  <div class="panel ratios">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Sex Ratios</p>
  </div>
</div>
<hr>
