<hr>
<div id="gallery">
  <div class="panel chance">
    <a href="https://www.amazon.com/Chance-Salvation-History-Conversion-America/dp/0674975626/ref=as_li_ss_tl?s=books&ie=UTF8&qid=1490978609&sr=1-1&linkCode=ll1&tag=backwardglance-20&linkId=7f7a7942a1a57644b1148d412c367aec">
      <img src="/img/gallery/chance-of-salvation-520w.png">
    </a>
    <p><a href="https://www.amazon.com/Chance-Salvation-History-Conversion-America/dp/0674975626/ref=as_li_ss_tl?s=books&ie=UTF8&qid=1490978609&sr=1-1&linkCode=ll1&tag=backwardglance-20&linkId=7f7a7942a1a57644b1148d412c367aec">The Chance of Salvation</a></p>
  </div>
  <div class="panel relec">
    <a href="http://religiousecologies.org">
      <img src="/img/gallery/relec-1060w.png">
    </a>
    <p><a href="http://religiousecologies.org">American Religious Ecologies</a></p>
  </div>
  <div class="panel apb">
    <a href="http://americaspublicbible.org">
      <img src="/img/gallery/apb-520w.png">
    </a>
    </a>
    <p><a href="http://americaspublicbible.org">America&rsquo;s Public Bible</a></p>
  </div>
  <div class="panel spine">
    <a href="https://academic.oup.com/ahr/article/123/1/132/4840258?guestAccessKey=3a271895-4af8-41e8-b3d9-15941dfe0bcf">
      <img src="/img/gallery/spine-520w.png">
    </a>
    <p><a href="https://academic.oup.com/ahr/article/123/1/132/4840258?guestAccessKey=3a271895-4af8-41e8-b3d9-15941dfe0bcf">Spine of American Law</a></p>
  </div>
  <div class="panel elections">
    <a href="http://earlyamericanelections.org/">
      <img src="/img/gallery/elections-520w.png">
    </a>
    <p><a href="http://earlyamericanelections.org/">Mapping Early American Elections</a></p>
  </div>
  <div class="panel slavery">
    <a href="https://lincolnmullen.com/projects/slavery/">
      <img src="/img/gallery/slavery-520w.png">
    </a>
    <p><a href="https://lincolnmullen.com/projects/slavery/">Spread of American Slavery</a></p>
  </div>
  <div class="panel borders">
    <a href="https://lincolnmullen.com/projects/us-boundaries/">
      <img src="/img/gallery/boundaries-520w.png">
    </a>
    <p><a href="https://lincolnmullen.com/projects/us-boundaries/">Historical Boundaries of the U.S.</a></p>
  </div>
  <div class="panel ratios">
    <a href="https://lincolnmullen.com/projects/sex-ratios/">
      <img src="/img/gallery/ratios-520w.png">
    </a>
    <p><a href="https://lincolnmullen.com/projects/sex-ratios/">Historic Sex Ratios</a></p>
  </div>
</div>
<hr class="gallery-divider">
