<div id="gallery">
  <div class="panel tall-panel">
    <img src="/img/gallery/chance-of-salvation-520w.png">
    <p><a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674975620">The Chance of Salvation</a></p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>America's Public Bible</p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Mapping Early American Elections</p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Spine of American Law</p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Spread of American Slavery</p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Historical Boundaries</p>
  </div>
  <div class="panel">
    <img src="https://via.placeholder.com/260x180.png">
    <p>Sex Ratios</p>
  </div>
</div>
