{{ $src := .Get "src" }}
{{ $raw := "" }}
{{ if hasPrefix $src "/" }}
{{/* Absolute path: get from global assets */}}
{{ $raw = resources.Get (strings.TrimPrefix "/" $src) }}
{{ else }}
{{/* Relative path: get from page resources */}}
{{ $raw = $.Page.Resources.Get $src }}
{{ end }}
{{ $ext := path.Ext (.Get "src") }}
{{ $link := .Get "link" }}
{{ $original := .Get "original" }}
{{ if eq $ext ".svg" }}
<!-- Don't process SVGs (no intrinsic dimensions available) -->
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="img-fluid mt-2 mb-4" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' />
</a>
{{ else if eq $ext ".gif" }}
<!-- Don't process GIFs -->
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="img-fluid mt-2 mb-4" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' width="{{ $raw.Width }}" height="{{ $raw.Height }}" />
</a>
{{ else if (eq $original "true")}}
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="img-fluid mt-2 mb-4" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' width="{{ $raw.Width }}" height="{{ $raw.Height }}" />
</a>
{{ else }}
{{ $regular := $raw.Resize "702x webp"}}
{{ $retina := $raw.Resize "1404x webp"}}
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="img-fluid my-4" src='{{ $regular.RelPermalink }}' srcset="{{ $regular.RelPermalink }} 1x, {{ $retina.RelPermalink }} 2x" alt='{{ .Get "alt" | plainify }}' width="{{ $regular.Width }}" height="{{ $regular.Height }}" />
</a>
{{ end }}
