{{ $src := .Get "src" }}
{{ $raw := "" }}
{{ if hasPrefix $src "/" }}
{{/* Absolute path: get from global assets */}}
{{ $raw = resources.Get (strings.TrimPrefix "/" $src) }}
{{ else }}
{{/* Relative path: get from page resources */}}
{{ $raw = $.Page.Resources.Get $src }}
{{ end }}
{{ $ext := path.Ext (.Get "src") }}
{{ $link := partial "resolve-link.html" (dict "link" (.Get "link") "page" .Page) }}
{{ $original := .Get "original" }}
{{ if eq $ext ".svg" }}
<!-- Don't process SVGs (no intrinsic dimensions available) -->
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="postimg" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' />
</a>
{{ else if eq $ext ".gif" }}
<!-- Don't process GIFs -->
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="postimg" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' width="{{ $raw.Width }}" height="{{ $raw.Height }}" />
</a>
{{ else if (eq $original "true")}}
<a href="{{ $link | default $raw.RelPermalink }}">
	<img class="postimg" src='{{ $raw.RelPermalink }}' alt='{{ .Get "alt" | plainify }}' width="{{ $raw.Width }}" height="{{ $raw.Height }}" />
</a>
{{ else }}
<a href="{{ $link | default $raw.RelPermalink }}">
	{{ partial "responsive-image.html" (dict "res" $raw "width" 900 "class" "postimg" "alt" (.Get "alt" | plainify)) }}
</a>
{{ end }}
