<div class="card text-bg-light mt-4 mb-3">
  <div class="card-body">
    <h4 class="homepage-header card-title">Subscribe to &ldquo;Working on It&rdquo;</h4>
    <p class="small card-subtitle mb-2">American religious history, digital history, and the making thereof</p>
    <form action="https://buttondown.email/api/emails/embed-subscribe/lmullen" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/lmullen', 'popupwindow')" class="embeddable-buttondown-form">
      <input type="hidden" value="1" name="embed"><input type="hidden" name="tag" value="homepage">
      <div class="input-group mb-2">
        <input type="text" name="email" id="bd-email" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
        <input type="submit" class="btn btn-primary" id="button-addon2" value="Subscribe">
      </div>
    </form>
  </div>
</div>

<div class="card text-bg-light mt-3 mb-4">
  <div class="card-body">
    <h4 class="homepage-header card-title">Subscribe to &ldquo;American Religion @ RRCHNM&rdquo;</h4>
    <p class="small card-subtitle mb-2">Updates from the Roy Rosenzweig Center for History and New Media</p>
    <form action="https://rrchnm.us14.list-manage.com/subscribe/post?u=36898c6824a31b8e1d4434a55&amp;id=18c732c256" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_36898c6824a31b8e1d4434a55_18c732c256" tabindex="-1" value=""></div>
        <div class="input-group mb-2">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email address" required aria-label="Your email address" aria-describedby="button-addon3">
          <input type="submit" id="button-addon3" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
