// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

//a[href$=".pdf"] {
	//background: url("../images/pdf.gif") no-repeat scroll right center transparent;
	//display: inline-block;
	////line-height: 18px;
	//padding: 0px 32px 0px 0px;
//}

.twitter {
	background: url("../images/twitter-2.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.librarything {
	background: url("../images/librarything.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.zotero {
	background: url("../images/zotero.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.github {
	background: url("../images/github.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.skype {
	background: url("../images/skype.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.subscribe-feed {
	background: url("../images/rss-small.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

.subscribe-email {
	background: url("../images/email-small.png") no-repeat scroll left center transparent;
	padding-left: 24px;
	white-space: nowrap;
}

blockquote {
  font-style: normal;
  font-size: 1.0em;
  line-height: 1.5em;
}

.sidebar {
  background: #fbfbfb!important;
}


.permalink,
.sidebar code a,
.external-link a:link,
.external-link a:visited {
  text-decoration: none;
}

.external-link a:hover {
  text-decoration: underline;
}

.frame {
  @include shadow-box;
}
html {
  background: #fbfbfb;
}

body nav,
#content aside.sidebar {
  border-top-color: #fbfbfb!important;
}

aside.sidebar section h1 {
  border-bottom-color: #ccc;
}

aside.sidebar section ul li {
  border-bottom-color: #fbfbfb!important;
  border-bottom-width: 0px;
}
