 /*This File is imported last, and will override other styles in the cascade*/
 /*Add styles here to make changes without digging in too much*/

/*//a[href$=".pdf"] {
	//background-image: url("../images/pdf.gif") no-repeat scroll right center transparent;
	//display: inline-block;
	////line-height: 18px;
	//padding: 0px 32px 0px 0px;
//}
*/
.twitter {
	background-image: url("../images/spriteme1.png");
  background-position: -10px -8.5px;
  background-repeat: no-repeat;
	padding-left: 24px;
	white-space: nowrap;
}

.librarything {
	background-image: url("../images/spriteme1.png");
  background-repeat: no-repeat;
	padding-left: 24px;
  background-position: -10px -80.5px;
	white-space: nowrap;
}

.profhacker {
	background-image: url("../images/spriteme1.png");
  background-position: -10px -152.5px;
	padding-left: 24px;
  background-repeat: no-repeat;
	white-space: nowrap;
}

.rinah {
	background-image: url("../images/spriteme1.png");
	padding-left: 24px;
	white-space: nowrap;
  background-position: -10px -116.5px;
  background-repeat: no-repeat;
}

.github {
	background-image: url("../images/spriteme1.png");
	padding-left: 24px;
	white-space: nowrap;
  background-position: -10px -44.5px;
  background-repeat: no-repeat;
}

.subscribe-feed {
	background-image: url("../images/spriteme1.png");
	padding-left: 24px;
	white-space: nowrap;
  background-repeat: no-repeat;
  background-position: -10px -188.5px;
}

.subscribe-email {
	background-image: url("../images/spriteme1.png");
	padding-left: 24px;
	white-space: nowrap;
  background-repeat: no-repeat;
  background-position: -10px -224.5px;
}

blockquote {
  font-style: normal;
  font-size: 1.0em;
  line-height: 1.5em;
}

.sidebar {
  background: #fbfbfb!important;
}


.permalink,
.sidebar code a,
.external-link a:link,
.external-link a:visited {
  text-decoration: none;
}

.external-link a:hover {
  text-decoration: underline;
}

.frame {
  @include shadow-box;
}
html {
  background: #fbfbfb;
}

body nav,
#content aside.sidebar {
  border-top-color: #fbfbfb!important;
}

aside.sidebar section h1 {
  border-bottom-color: #ccc;
}

aside.sidebar section ul li {
  border-bottom-color: #fbfbfb!important;
  border-bottom-width: 0px;
}

sup {
  vertical-align: super;
}

// Correct for bizzare wrapping behavior in articles
article a {
  white-space: normal
}
